{% load static %}
<script src={% static "js/main.js" %}></script>
<script src={% static "js/scripts.js" %}></script>
<script src={% static "js/bootstrap.bundle.min.js" %}></script>
<script src={% static "js/jquery-3.7.1.min.js" %}></script>
<script src={% static "js/scripts.js" %}></script>
<script src={% static "DataTables/datatables.min.js" %}></script>
<script src={% static "js/area-chart.js" %}></script>
<script src={% static "js/bar-chart.js" %}></script>
<script src={% static "js/data-table.js" %}></script>
<script src={% static "js/Chart.js" %}></script>
<script src={% static "js/html2pdf.bundle.min.js" %}></script>
