<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Principal</div>
                <a class="nav-link" href={% url "control_panel:home" %}>
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Painel de Controle
                </a>
                {% if menu_principal %}
                {% for menu in menu_principal %}
                    {% if menu != 'enus' %}
                    <a class="sb-sidenav-menu-heading text-decoration-none" {% if menu.link %}href="{{menu.link}}"{% endif %}>{{menu}}</a>
                    {% if menu.sub_menu.all %}
                    {% for sub in menu.sub_menu.all %}
                        <a class="nav-link collapsed" {% if sub.link %} href="{{sub.link}}"{% else %}data-bs-toggle="collapse" data-bs-target="#{{sub}}"{% endif %} aria-expanded="false" aria-controls="collapseLayouts">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            {{sub}}
                            {% if sub.sub_sub_menu.all %}
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            {% endif %}
                        </a>
                        {% if sub.sub_sub_menu %}
                        {% for sub_sub in sub.sub_sub_menu.all %}
                            <div class="collapse bg-dark-gray" id="{{sub}}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{sub_sub.link}}">{{sub_sub}}</a>
                                </nav>
                            </div>
                        {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logado como:</div>
            Administrador
        </div>
    </nav>
</div>
