
<main>
    <div class="container-fluid px-4">
        {% comment %} <h1 class="mt-4">Tables</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div> {% endcomment %}
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Tabela com os dados
            </div>
            <div class="card-body">
                <table id="dataTable" class="cell-border hover order-column compact" style="width: 100%">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nome de Usuário</th>
                            <th>Nome Completo</th>
                            <th>Email</th>
                            <th>Ativo?</th>
                            <th>Colaborador?</th>
                            <th>Administrador?</th>
                            <th>Último Login</th>
                            <th>Criado em</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nº</th>
                            <th>Nome de Usuário</th>
                            <th>Nome Completo</th>
                            <th>Email</th>
                            <th>Ativo?</th>
                            <th>Colaborador?</th>
                            <th>Administrador?</th>
                            <th>Último Login</th>
                            <th>Criado em</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for value in data_table %}
                            <tr>
                                <td>{{value.id}}</td>
                                <td>{{value.username}}</td>
                                <td>{{value.get_full_name}}</td>
                                <td>{{value.email}}</td>
                                <td>{% if value.is_active is True %}Sim{% else %}Não{% endif %}</td>
                                <td>{% if value.is_staff is True %}Sim{% else %}Não{% endif %}</td>
                                <td>{% if value.is_superuser is True %}Sim{% else %}Não{% endif %}</td>
                                <td>{{value.last_login}}</td>
                                <td>{{value.date_joined}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>