{% extends "base/layout-main.html" %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{site_setup.nome}}</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Menus Principais</li>
            </ol>
            {% include "partials/form.html" %}
            <div class="card my-4 card-div-dark">
                <div class="card-header card-div-dark">
                    <i class="fas fa-table me-1"></i>
                    Manutenção de Opções e Menus
                </div>
                <div class="card-body card-div-dark">
                    <table id="dataTable" class="cell-border hover order-column compact" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Link/URL</th>
                                <th>Sub Menus</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for menu in menu_principal %}
                                <tr>
                                    <td>{{menu.nome}}</td>
                                    <td>{{menu.link|default_if_none:"Sem Link/URL"}}</td>
                                    {% if menu.sub_menu.all %}
                                        <td>
                                            <ul>
                                                {% for subMenu in menu.sub_menu.all %}
                                                    <li>{{subMenu.nome}}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    {% else %}
                                        <td>Sem Sub Menus Cadastrados</td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url "control_panel:edit_main_menus" menu.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="{% url "control_panel:delete_main_menus" menu.id %}"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    {% include "partials/footer.html" %}
</div>
{% endblock content %}