{% extends "base/layout-main.html" %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{site_setup.nome}}</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Configurações</li>
            </ol>
            <div class="d-flex flex-row flex-wrap gap-2">
                {% include "partials/form.html" %}

                {% if site_setup.logo %}
                <div class="rounded border border-black d-flex flex-column p-2">
                    <label for="#img-logo">Logo</label>
                    <img id="img-logo" src="{{site_setup.logo.url}}" class="rounded m-auto" width="200px" height="200px" alt="Logotipo">
                </div>
                {% endif %}

                {% if site_setup.favicon %}
                <div class="rounded border border-black d-flex flex-column p-2">
                    <label for="#img-favicon">Ícone do sistema</label>
                    <img id="img-favicon" src="{{site_setup.favicon.url}}" class="rounded m-auto" width="80px" height="80px" alt="Favicon">
                </div>
                {% endif %}
            </div>
            <div class="d-flex flex-column mt-4 gap-2">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Configurações do Email Administrativo</li>
                </ol>
                <form class="form-control p-2 mb-2" style="max-width: 720px;" method="POST">
                    <p>Verfique as informações abaixo de acordo com o servidor do email utilizado</p>
                    {% csrf_token %}
                    {% for field in form_email_backend %}
                        <div class="m-2 p-1">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button name="email_backend_form" type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </main>
    {% include "partials/footer.html" %}
</div>
{% endblock content %}