{% extends "base/layout-main.html" %}
{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{site_setup.nome}}</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Usuários</li>
            </ol>
            <div class="form-control my-2" style="max-width: 720px;">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Registro de Usuários</li>
                </ol>
                <form class="row my-2" method="POST">
                    {% csrf_token %}
                    <div class="col-sm-6">
                        {{form.username.errors}}
                        {{form.username.label_tag}}
                        {{form.username}}
                    </div>
                    <div class="col-sm-6">
                        {{form.first_name.errors}}
                        {{form.first_name.label_tag}}
                        {{form.first_name}}
                    </div>
                    <div class="col-sm-6">
                        {{form.last_name.errors}}
                        {{form.last_name.label_tag}}
                        {{form.last_name}}
                    </div>
                    <div class="col-sm-6">
                        {{form.email.errors}}
                        {{form.email.label_tag}}
                        {{form.email}}
                    </div>
                    <div class="col-sm-6">
                        {{form.password1.errors}}
                        {{form.password1.label_tag}}
                        <input type="password" class="form-control" name="password1" id="id_password1">
                    </div>
                    <div class="col-sm-6">
                        {{form.password2.errors}}
                        {{form.password2.label_tag}}
                        <input type="password2" class="form-control" name="password2" id="id_password2">
                    </div>
                    <div class="col-sm-4">
                        {{form.is_active.errors}}
                        {{form.is_active.label_tag}}
                        {{form.is_active}}
                    </div>
                    <div class="col-sm-4">
                        {{form.is_staff.errors}}
                        {{form.is_staff.label_tag}}
                        {{form.is_staff}}
                    </div>
                    <div class="col-sm-4">
                        {{form.is_superuser.errors}}
                        {{form.is_superuser.label_tag}}
                        {{form.is_superuser}}
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
            <div class="card mb-4 card-div-dark">
                <div class="card-header card-div-dark">
                    <i class="fas fa-table me-1"></i>
                    Tabela com os dados
                </div>
                <div class="card-body card-div-dark">
                    <table id="dataTable" class="cell-border hover order-column compact" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Nº</th>
                                <th>Nome de Usuário</th>
                                <th>Nome Completo</th>
                                <th>Email</th>
                                <th>Ativo?</th>
                                <th>Colaborador?</th>
                                <th>Administrador?</th>
                                <th>Último Login</th>
                                <th>Criado em</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nº</th>
                                <th>Nome de Usuário</th>
                                <th>Nome Completo</th>
                                <th>Email</th>
                                <th>Ativo?</th>
                                <th>Colaborador?</th>
                                <th>Administrador?</th>
                                <th>Último Login</th>
                                <th>Criado em</th>
                                <th>Ações</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for value in data_table %}
                                <tr>
                                    <td>{{value.id}}</td>
                                    <td>{{value.username}}</td>
                                    <td>{{value.get_full_name}}</td>
                                    <td>{{value.email}}</td>
                                    <td>{% if value.is_active is True %}Sim{% else %}Não{% endif %}</td>
                                    <td>{% if value.is_staff is True %}Sim{% else %}Não{% endif %}</td>
                                    <td>{% if value.is_superuser is True %}Sim{% else %}Não{% endif %}</td>
                                    <td>{{value.last_login}}</td>
                                    <td>{{value.date_joined}}</td>
                                    <td>
                                        <a href="{% url "control_panel:edit_user" value.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="{% url "control_panel:delete_user" value.id %}"><i class="fa-solid fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    {% include "partials/footer.html" %}
</div>
{% endblock content %}

